Click==7.0
dataclasses==0.6
fastapi==0.31.0
h11==0.8.1
httptools==0.0.13
pydantic==0.29
starlette==0.12.0
uvicorn==0.8.3
uvloop==0.12.2
websockets==7.0
asn1crypto==0.24.0
certifi==2019.6.16
cffi==1.12.3
couchbase==2.5.5
chardet==3.0.4
crypto==1.4.1
cryptography==3.2
idna==2.8
Naked==0.1.31
pycparser==2.19
pycryptodome==3.8.2
PyYAML==5.1.1
requests==2.22.0
shellescape==3.4.1
six==1.12.0
urllib3==1.25.3
Werkzeug==0.15.4
python-memcached==1.59
PyYAML==5.1.1