<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div
          class="card-header"
          style="text-align: center"
          (click)="redirect()"
        >
          <h4>First-Past-The-Post</h4>
          <div class="card-header-actions">
            <a
              href="https://valor-software.com/ngx-bootstrap/#/carousel"
              target="_blank"
            >
              <!-- <small className="text-muted">docs</small> -->
            </a>
          </div>
        </div>
        <div class="card-body">
          <carousel [interval]="false">
            <slide>
              <img
                src="../../assets/tajmahal.jpg"
                alt="India"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>India</h3>
              </div>
            </slide>
            <slide>
              <img
                src="../../assets/statue.jpg"
                alt="USA"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>USA</h3>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>Two-Round-System</h4>
        </div>
        <div class="card-body">
          <carousel [interval]="false">
            <slide>
              <img
                src="../../assets/toower.jpg"
                alt="France"
                style="display: block;
              width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>France</h3>
              </div>
            </slide>
            <slide>
              <img
                src="../../assets/costarica.jpg"
                alt="Costa Rica"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Costa Rica</h3>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>Instant Run-Off</h4>
        </div>
        <div class="card-body">
          <carousel [interval]="false">
            <slide>
              <img
                src="../../assets/oopera.jpeg"
                alt="Australia"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Australia</h3>
              </div>
            </slide>
            <slide>
              <img
                src="../../assets/ireland.jpg"
                alt="Ireland"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Ireland</h3>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>Majority Bonus System</h4>
        </div>
        <div class="card-body">
          <carousel [interval]="false">
            <slide>
              <img
                src="../../assets/colosseum.jpg"
                alt="Italy"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Italy</h3>
              </div>
            </slide>
            <slide>
              <img
                src="../../assets/greece.jpg"
                alt="Greece"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Greece</h3>
              </div>
            </slide>
          </carousel>
          <!-- <div>
            <button type="button" class="btn btn-info" (click)="addSlide()">
              Add Slide
            </button>
            <button type="button" class="btn btn-info" (click)="removeSlide()">
              Remove Current
            </button>
            <button type="button" class="btn btn-info" (click)="removeSlide(2)">
              Remove #3
            </button>
          </div> -->
          <!-- <div>
            <div class="checkbox">
              <label
                ><input type="checkbox" [(ngModel)]="noWrapSlides" />Disable
                Slide Looping</label
              >
            </div>

            <span
              >Interval, in milliseconds (Enter a negative number or 0 to stop
              the interval.):
            </span>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="myInterval"
            />
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>Plurality-At-Large</h4>
        </div>
        <div class="card-body">
          <carousel [interval]="false">
            <slide>
              <img
                src="../../assets/mawritius.jpeg"
                alt="Mauritius"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Mauritius</h3>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>General Ticket</h4>
        </div>
        <div class="card-body">
          <carousel [interval]="false">
            <slide>
              <img
                src="../../assets/frrance.jpg"
                alt="France"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>France</h3>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>Single Non-Transferable Vote</h4>
          <div class="card-header-actions">
            <a
              href="https://valor-software.com/ngx-bootstrap/#/carousel"
              target="_blank"
            >
            </a>
          </div>
        </div>
        <div class="card-body">
          <carousel [interval]="false">
            <slide>
              <img
                src="../../assets/thaai.jpg"
                alt="Thailand"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Thailand</h3>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>Cumulative Voting</h4>
        </div>
        <div class="card-body">
          <carousel [interval]="false">
            <slide>
              <img
                src="../../assets/whitehouse.jpg"
                alt="USA"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>USA</h3>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>Borda</h4>
          <div class="card-header-actions">
            <a
              href="https://valor-software.com/ngx-bootstrap/#/carousel"
              target="_blank"
            >
            </a>
          </div>
        </div>
        <div class="card-body">
          <carousel [interval]="false">
            <slide>
              <img
                src="../../assets/finland.jpg"
                alt="Finland"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Finland</h3>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>Party-List Proportional Representation</h4>
        </div>
        <div class="card-body">
          <carousel [interval]="false">
            <slide>
              <img
                src="../../assets/brazil.jpg"
                alt="Brazil"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Brazil</h3>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>Single Transferable Vote</h4>
          <div class="card-header-actions">
            <a
              href="https://valor-software.com/ngx-bootstrap/#/carousel"
              target="_blank"
            >
            </a>
          </div>
        </div>
        <div class="card-body">
          <carousel [interval]="false">
            <slide>
              <img
                src="../../assets/uk.jpg"
                alt="The United Kingdom"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>The United Kingdom</h3>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>Mixed-Member Proportional Representation</h4>
        </div>
        <div class="card-body">
          <carousel [interval]="false">
            <slide>
              <img
                src="../../assets/germ.jpg"
                alt="Germany"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Germany</h3>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>Parallel Voting</h4>
          <div class="card-header-actions">
            <a
              href="https://valor-software.com/ngx-bootstrap/#/carousel"
              target="_blank"
            >
            </a>
          </div>
        </div>
        <div class="card-body">
          <carousel [interval]="false">
            <slide>
              <img
                src="../../assets/japan.jpg"
                alt="Japan"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Japan</h3>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>
</div>
